<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GameOfLife.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <GameOfLife.Properties.Settings>
            <setting name="UniverseWidthCellCount" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="UniverseHeightCellCount" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="QuadTreeModel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToroidalMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayNeighborCount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Inverval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="CellColor" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="GridColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Grid10Color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="DisplayHUD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scrollable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CellWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CellHeight" serializeAs="String">
                <value>0</value>
            </setting>
        </GameOfLife.Properties.Settings>
    </userSettings>
</configuration>