<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GameOfLife.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GameOfLife.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <GameOfLife.Properties.Settings>
            <setting name="Seed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UniverseWidthCellCount" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="UniverseHeightCellCount" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ToroidalMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayNeighborCount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayGrid" serializeAs="String">
                <value>True</value>
            </setting>
        </GameOfLife.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <GameOfLife.Properties.Settings>
            <setting name="QuadTreeModel" serializeAs="String">
                <value>False</value>
            </setting>
        </GameOfLife.Properties.Settings>
    </applicationSettings>
</configuration>